In [415]:
#coding: UTF-8
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import seaborn as sbn
#主成分分析用ライブラリ
import sklearn as skl

## 試験用データ

In [416]:
train_data = pd.read_csv("data/input/train.csv")
train_data.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

###  テスト用データ

In [417]:
test_data = pd.read_csv('data/input/test.csv')
test_data.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",7/14/07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de..."
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/19/58,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de..."
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/97,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de..."
3,3004,NaN,6800000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",http://www.sonyclassics.com/incendies/,tt1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",9/4/10,130.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The search began at the opening of their mothe...,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de..."
4,3005,NaN,2000000,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",NaN,tt0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/11/05,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de..."

## 欠損値の有無

In [418]:
miss_val= train_data.isnull().any()
df_miss_val = pd.DataFrame(miss_val)
df_miss_val

                           0
id                     False
belongs_to_collection   True
budget                 False
genres                  True
homepage                True
imdb_id                False
original_language      False
original_title         False
overview                True
popularity             False
poster_path             True
production_companies    True
production_countries    True
release_date           False
runtime                 True
spoken_languages        True
status                 False
tagline                 True
title                  False
Keywords                True
cast                    True
crew                    True
revenue                False

## 欠損数

In [419]:
miss_val= train_data.isnull().sum()
df_miss_val = pd.DataFrame(miss_val)
df_miss_val

                          0
id                        0
belongs_to_collection  2396
budget                    0
genres                    7
homepage               2054
imdb_id                   0
original_language         0
original_title            0
overview                  8
popularity                0
poster_path               1
production_companies    156
production_countries     55
release_date              0
runtime                   2
spoken_languages         20
status                    0
tagline                 597
title                     0
Keywords                276
cast                     13
crew                     16
revenue                   0

## データの前処理（Stringデータをfloatまたはintに統一）

|column|対応方法|
| :--- | :--- |
| Id | 定量的に性質を示す値でないため削除対象。|
| belongs_to_collection | TMDB ID、名前、映画のポスター、および映画の背景URL　→入っているものには1をそうでなければ０を入れておく|
| budget | そのまま |
| genres | 各IDごとにカラムを分け、１、０で分類|
| homepage | URLが入っていたら１、NaNの場合は0|
| Imdb_id | インターネット・ムービー・データベース（IMDb）のID。定量的に性質を示す値でないため削除対象。|
| original_language | 各国ごとにカラムを分けて、１、０で分類|
| original_title | 定量的に性質を示す値ではないため、削除　|
| overview | 文字数で定量化。（単語のカウントでもよさそう）|
| popularity | そのまま |
| poster_path | あれば１、なければ０に変換 |
| production_companies | 結構欠損値多いイメージ。入っているところは1,入っていないところは0にする。|
| production_countries | 入っていたら１、入っていなかったら０　|
| release_date | スラッシュを削除して使用 |
| runtime | そのまま,欠損値は0に| 
| spoken_languages | 　言語ごとに+1カウント。|
| Status | release=1, rumored=0 |
| tagline | 文字数で定量化　|
| title | 定量的に性質を示す値ではないため削除 |
| Keywords | キーワード数で定量化 |
| cast | キャスト数ので定量化 |
| crew | クルー数で定量化 |
| revenue | そのまま |

In [420]:
#belongs_to_collectionのデータ変形
train_data[train_data["belongs_to_collection"].notnull()] = 1
train_data["belongs_to_collection"] = train_data["belongs_to_collection"].fillna(0)
# train_data.head()

# 仮データの作成

In [421]:
#今回はsklearnのbrest_cancerデータを仮に使用して、主成分分析メソッドを作成
from sklearn.datasets import load_breast_cancer
breast  = load_breast_cancer()

#ターゲットの用意
breast_target = breast.target
#試験用データの用意
breast_train = breast.data
breast_label = breast.feature_names
height_breast_label = breast_label.reshape([breast_label.shape[0], 1])

# メソッド

In [422]:
def standalization(X):
    """
    標準化を行う
    ------------
    X: データ行列
    return : st_X 標準化データ
    """
    mue =  np.mean(X)
    std = np.std(X)# std =√(np.sum((X - mue)**2 )))/len(X)
    return (X - mue)/std

In [423]:
def covariance(X):
    """
    共分散
    ----------
    X: データ行列
    return : 共分散
    """
    return  (X.T.dot(X))/X.shape[0]

# メイン処理(試験用)

### ①平均標準化

In [424]:
train_data = standalization(breast_train)
df_s_train_data = pd.DataFrame(breast_train, columns=breast_label)
df_s_train_data.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

###  ②共分散

In [425]:
S_train = covariance(df_s_train_data) #sigmoid
S_train.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
mean radius,211.977466,277.409449,1384.570337,10474.140843,1.369749,1.568087,1.444287,0.803372,2.573575,0.879420,...,246.324318,369.171417,1629.398155,14325.163477,1.879617,3.820923,4.231992,1.791165,4.133665,1.186376
mean texture,277.409449,390.556937,1808.429560,13117.720288,1.857344,2.066373,1.816418,0.992524,3.502953,1.209027,...,321.143339,519.372386,2120.686082,17825.944327,2.560941,5.092363,5.520056,2.294058,5.623349,1.628529
mean perimeter,1384.570337,1808.429560,9047.705902,68650.464580,8.932873,10.309597,9.551583,5.299997,16.782989,5.730655,...,1609.919621,2406.687971,10655.645763,93989.634434,12.257190,25.123926,27.886394,11.769907,26.961770,7.742767
mean area,10474.140843,13117.720288,68650.464580,552505.641213,63.979936,77.580422,77.364806,43.258816,120.097961,40.423280,...,12289.158578,17436.465782,81566.056376,768539.080738,87.677519,188.094019,215.821546,91.726803,193.087647,54.998915
mean smoothness,1.369749,1.857344,8.932873,63.979936,0.009483,0.010543,0.009141,0.005015,0.017671,0.006109,...,1.582165,2.477377,10.448402,86.505628,0.013013,0.025545,0.027502,0.011508,0.028294,0.008216

In [426]:
#データの可視化（未完了）
# plot_s_train = sbn.pairplot(S_train.iloc[:,:-1]) 
# plot_s_train

### ③固有ベクトル、固有値を求める

In [427]:
U, S, V = np.linalg.svd(S_train) #特異値分解：U= 固有値, V = 固有ベクトル
print("固有値： ", U.shape)
print("固有ベクトル: ", V.shape)

固有値：  (30, 30)
固有ベクトル:  (30, 30)

### ④次元削減関数先にデータを射影

In [428]:
Ureducie = U #　次元数削減式（まだ削減する数kがもとまっていないため、全ての固有ベクトルを使用）
Z = (Ureducie).dot(df_s_train_data.T)#　Xを変換（次元削減する関数へ射影）
Z.shape

(30, 569)

### ⑤削減する次元数kの選択

In [429]:
rmse = np.sum(S)/np.sum(S_train)#平均二乗誤差
# print("RMSE: ")
# print(rmse)

In [430]:
result = np.array([])
for data in rmse:
    if data > 0.99:
        result = np.append(result, "OK")
    else:
        result = np.append(result, "Concider reduce." )

df_result = pd.concat([pd.Series(rmse.get_values()), pd.Series(result)], axis=1)
df_result.index= rmse.index
df_result.columns=["rmse", "result"]
# df_result

In [431]:
# グラフの出し方（未解決）
# fig = plt.figure(figsize=(10,5),dpi=100)
# ax1 = fig.add_subplot(1,1,1)
# ax1.bar(range(len(rmse)), rmse, linewidth=3, width=1)
# ax1.set_xticklabels(labels=rmse.index, rotation=90)
# ax1.set_ylim(0, 5000)

# 主成分分析法を一つのメソッドにまとめた

In [432]:
def PCA(X, X_label):
    """
    主成分分析メソッド
    ---------------------
    X:　データ
    return 結果リスト
    """
    #平均標準化
    train_data = standalization(X)
    df_s_train_data = pd.DataFrame(X, columns=X_label)
    
    #共分散
    S_train = covariance(df_s_train_data) #sigmoid
    
    #固有ベクトル、固有値を求める
    U, S, V = np.linalg.svd(S_train) #特異値分解：U= 固有値, V = 固有ベクトル
    
    #削減する次元数kの選択
    rmse = np.sum(S)/np.sum(S_train)#平均二乗誤差
    
    result = np.array([])
    for data in rmse:
        if data > 0.99:
            result = np.append(result, "OK")
        else:
            result = np.append(result, "Concider reduce." )

    df_result = pd.concat([pd.Series(rmse.get_values()), pd.Series(result)], axis=1)
    df_result.index= rmse.index
    df_result.columns=["rmse", "result"]
    
    return df_result

In [433]:
result_list = PCA(breast_train, breast_label)
result_list

                                  rmse            result
mean radius                  56.512309                OK
mean texture                 44.956133                OK
mean perimeter                8.620404                OK
mean area                     1.070053                OK
mean smoothness            9231.562673                OK
mean compactness           7574.668993                OK
mean concavity             7589.397035                OK
mean concave points       13590.018567                OK
mean symmetry              4918.230311                OK
mean fractal dimension    14617.890438                OK
radius error               1733.164095                OK
texture error               755.212291                OK
perimeter error             244.383438                OK
area error                   14.826081                OK
smoothness error         133695.211475                OK
compactness error         32745.915551                OK
concavity error           25608.242061                OK
concave points error      69341.562024                OK
symmetry error            44863.409265                OK
fractal dimension error  239423.036751                OK
worst radius                 47.884418                OK
worst texture                33.729219                OK
worst perimeter               7.213294                OK
worst area                    0.759200  Concider reduce.
worst smoothness           6715.112040                OK
worst compactness          3103.917451                OK
worst concavity            2706.246458                OK
worst concave points       6387.175729                OK
worst symmetry             3049.730361                OK
worst fractal dimension   10699.256443                OK